<h1>make a transaction</h1>
<br /><br />
<%= simple_form_for @transaction, url: account_transactions_path(@account) do |f| %>
  <%= f.input :amount %>
  <%= f.input :payee_id, :collection => all_other_users() %>
  <%= f.hidden_field :payer_id, :value => @account.id, :id=>"payer"%>
  <%= f.submit "submit", class: 'my-btn' %>
<% end %>